:root {
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
    --gradient-1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --gradient-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

/* Box-sizing rules */
*, 
*::before, 
*::after {
    box-sizing: border-box;
}

/* Remove default margins */
body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

/* Remove list styles and decorations */
ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Set body defaults */
body {
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    background: var(--gradient-1);
}

/* LOGO */
.logo {
    padding: 1.8em;
}

.logo img {
    max-width: 100%;
    height: 1.3rem;
}

/* MOBILE IMG */
.hero__mobile img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.hero__desktop {
    display: none;
}

/* TEXT SECTION */
.text {
    text-align: center;
    font-size: .9rem;
    color: var(--desaturated-red);
}

.text h1 {
    margin: 4rem 2rem 1rem;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: .7rem;
    line-height: 2.8rem;
}

.text h1 span {
    font-weight: 600;
    color: var(--dark-grayish-red);
}

.text p {
    margin: 0 2rem;
    line-height: 1.3rem;
}

/* EMAIL FORM */
.email__form {
    display: flex;
    align-items: center;
    margin: 2rem;
    border-radius: 30px;
    border: 1px solid hsla(0, 36%, 70%, 0.5);
}

.email__form input {
    background: transparent;
    color: var(--desaturated-red);
    border: none;
    height: 100%;
    width: 100%;
    font-size: .8rem;
    margin-left: 1rem;
}

.email__form button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    padding: .8rem;
    border-radius: 30px;
    border: none;
    background: var(--gradient-2);
    box-shadow: 0px 10px 20px 5px hsla(0, 36%, 70%, 0.3);
    cursor: pointer;
}

.email__form button:hover {
    background: hsl(0, 80%, 86%);
}

/* ATTRIBUTION */
.attribution {
    color: var(--desaturated-red);
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

footer {
    display: none;
}

/* DESKTOP */
@media (min-width: 62.25rem) {

    /* SET GRID  */
    body {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }


    /* DESKTOP IMG ON THE RIGHT */
    .hero__desktop {
        display: block;
        grid-column: 4/-1;
        background-image: url(images/hero-desktop.jpg);
        background-size: cover;
    }

    .hero__mobile {
        display: none;
    }

    /* STUFF ON THE LEFT  */
    main {
        grid-column: 1/4;
        background-image: url(images/bg-pattern-desktop.svg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 2rem 15rem 2rem 10rem;
    }

    /* LOGO */
    .logo {
        padding-left: 0;
    }

    .logo img {
        height: 2rem;
    }

    /* TEXT SECTION  */
    .text {
        margin-top: 5rem;
    }

    .text h1 {
        font-size: 4rem;
        line-height: 4.5rem;
        text-align: left;
        margin-left: 0;
        margin-top: 0;
        letter-spacing: 1rem;
    }

    .text p {
        margin-left: 0;
        font-size: 1rem;
        text-align: left;
        line-height: 1.8rem;
    }

    /* EMAIL FORM  */
    .email__form {
        margin-left: 0;
    }

    .email__form input {
        font-size: 1rem;
        margin-left: 2rem;
    }
    
    .email__form button {
        width: 8rem;
        padding: 1rem;
    }

}